
<template name="ApplicationLayout">
    <header>
        <title>Chat Room</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </header>

    <body>
        <header>
            <nav role="navigation">
                <div class="nav-wrapper container">
                    <a href="#" id="logo-container" class="brand-logo">Chat Room</a>
                    <ul class="right">
                        <li>Login</li>
                    </ul>
                </div>
            </nav>
        </header>
        <main>
            {{> yield}}
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    CastilloR
                </div>
            </div>
        </footer>
    </body>
</template>